@app.route("/Sign Up", methods=['GET', 'POST'])
def sign_up():
    if current_user.is_authenticated:
        return redirect(url_for('main.sign_up'))
    form = SignupForm()
    if form.validate_on_submit():
        hashed_password = bcrypt.generate_password_hash(form.password.data).decode('utf-8')
        user = User(username=form.username.data, email=form.email.data, password=hashed_password)
        db.session.add(user)
        db.session.commit() 
        flash(f'{form.username.data}, your account has been created!', 'success')
        return redirect(url_for('users.sign_up'))
    return render_template('sign_up.html', title="Sign Up", form=form)
